@model Curso.DataAccess.Models.Compras

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Baja de Compra</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Compras</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NroCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PuntoDeVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PuntoDeVenta)
        </dd>
        <dt class="col-sm-2">    
            @Html.DisplayNameFor(model => model.IdCompraDetalleNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCompraDetalleNavigation.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdformapagoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdformapagoNavigation.Descripción)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCompras" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
