@model Curso.DataAccess.Models.Compras

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de Compras</h1>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntoDeVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntoDeVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompraDetalleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCompraDetalleNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdformapagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdformapagoNavigation.Descripción)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCompras">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
