@model IEnumerable<Curso.DataAccess.Models.Compras>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Compras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">NroCompra</label>
                @*@Html.DisplayNameFor(model => model.NroCompra)*@
            </th>
            <th>
                <label class="control-label">FechaCompra</label>
                @*@Html.DisplayNameFor(model => model.FechaCompra)*@
            </th>
            <th>
                <label class="control-label">PuntoDeVenta</label>
                @*@Html.DisplayNameFor(model => model.PuntoDeVenta)*@
            </th>
            <th>
                <label class="control-label">DetalleDeCompra</label>
                @*@Html.DisplayNameFor(model => model.IdCompraDetalleNavigation)*@
            </th>
            <th>
                <label class="control-label">PuntoDeVenta</label>
                @*@Html.DisplayNameFor(model => model.IdformapagoNavigation)*@
            </th>
            <th>       
               <label class="control-label">Comentarios</label>
               @*@Html.DisplayNameFor(model => model.Comentarios)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntoDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraDetalleNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdformapagoNavigation.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCompras">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCompras">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCompras">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
