@model IEnumerable<Curso.DataAccess.Models.Proveedores>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoProveedores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaProveedoresNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoProveedores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaProveedoresNavigation.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
